.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: var(--outer-content-width);
  margin: 0 auto;
}

.content {
  position: relative;
  width: 100%;
  max-width: var(--content-width);
  padding: var(--viewport-padding);
  padding-top: 35px;
  padding-bottom: 0px;
}

.content h1 {
  color: var(--color-gray-1000);
  font-size: 2.5rem;
  line-height: 50px;
  margin-bottom: 13px;
}
.content p {
  font-size: 1.125rem;
  color: var(--color-decorative-900);
  margin-bottom: 0px;
  font-weight: 400;
}
.content p {
  font-weight: 500;
  font-size: 0.9rem !important;
  color: var(--color-gray-700);
}

@media (min-width: 35rem) {
  .content p {
    font-size: 1.25rem;
  }
}
